<!-- <app-training-overview></app-training-overview> -->

<!-- ts-core -->

<!-- <app-variables-data></app-variables-data> -->
<!-- <app-functions></app-functions> -->
<!-- <app-objects></app-objects> -->
<!-- <app-arrays></app-arrays> -->
<!-- <app-conditionals></app-conditionals> -->

<!-- <app-loops></app-loops> -->
<!-- <app-dom-browser></app-dom-browser> -->
<!-- <app-async-type-script></app-async-type-script> -->
<!-- <app-es6></app-es6> -->
<!-- <app-error-handling></app-error-handling> -->

<!-- ts-adv -->
<!-- <app-classes-oop></app-classes-oop> -->
<app-modules></app-modules>
<!-- <app-typescript></app-typescript> -->
<!-- <app-array-methods></app-array-methods> -->
<!-- <app-json-api></app-json-api> -->

<!-- <app-event-handling></app-event-handling> -->
<!-- <app-closures-scope></app-closures-scope> -->
<!-- <app-google-apps-script-services></app-google-apps-script-services> -->
<!-- <app-debugging-console></app-debugging-console> -->
<!-- <app-git-commands></app-git-commands> -->